@model IEnumerable<ISStudyAbroad2023.Models.CityActivity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityActivityLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityActivityDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityActivityLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityActivityDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CityActivityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CityActivityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CityActivityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
